<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Plantas</title>
    <link rel="stylesheet" href="../static/css/sytle.css">
    <link rel="shortcut icon" href="../static/images/icone-folhas.svg" type="image/x-icon">
</head>

<body>
    <header class="nav">
        <div class="dropdown">
            <button id="meuBotao" class="botao-dropdown"><img src="../static/images/icone-menu.svg" alt=""></button>

            <div id="meuDropdown" class="conteudo-dropdown">
                <ul>
                    <li><img class="icone-nav" src="../static/images/icone-planta.svg" alt=""><a class="local-atual"
                            href="{{ url_for('lista_plantas')}}">Lista de plantas</a></li>
                    <li><img class="icone-nav" src="../static/images/icone-add-plant.svg" alt=""><a
                            href="{{ url_for('add_plantas')}}">Adicionar
                            plantas</a></li>
                    <li><img class="icone-nav" src="../static/images/icone-user.svg" alt=""><a href="">Meu perfil</a>
                    </li>
                    <li><img class="icone-nav" src="../static/images/icone-logout.svg" alt=""><a href="">Sair</a></li>
                </ul>
            </div>
        </div>
        <div class="logo">
            <img class="icone-logo" src="../static/images/icone-folhas.svg" alt="">
            <h1>Little Jungle</h1>
        </div>
    </header>

    <main>
        <div class="cards-container div-form">

            <form action="{{url_for('add_plantas')}}" method="post">
                <h3>Cadastre uma planta</h3>
                <input class="input_form" type="text" id="nome" name="nome"
                    placeholder="Digite o nome popular da planta" required>

                <input class="input_form" type="text" id="especie" name="especie"
                    placeholder="Digite a espécie da planta" required>

                 <select name="ambiente" class="input-select" required>
                    <option value="" selected disabled>Selecione um ambiente</option>
                            <option value="sombra">Sombra</option>
                            <option value="meia-sombra">Meia-sombra</option>
                            <option value="sol-pleto">Sol pleno</option>
                        </select>

                <input class="input_form" type="text" id="origem" name="origem" placeholder="Digite a origem da planta"
                    required>

                <input class="input_form" type="text" id="regar" name="regar"
                    placeholder="Digite a quantidade de rega da planta" required>

                <input class="input_form" type="text" id="imagem" name="imagem"
                    placeholder="Insira o link da imagem da planta" required>

                <button type="submit" name="enviar" class="btn">Cadastrar</button>

            </form>

        </div>
    </main>

    <footer>
        <p>Copyright © 2025 Vitória Fortes</p>
    </footer>
    <script src="../static/js/btn.js"></script>
</body>

</html>