<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/sytle.css">
</head>
<body>
    <header class="nav">
    <h1>Little Jungle</h1>
    <u>
        <li>Adicionar plantas</li>
        <li>Sair</li>
    </u>
    </header>

    <div class="card">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam natus nobis temporibus nam ipsam, saepe repellendus quisquam eveniet. Quaerat nesciunt dicta dolore obcaecati et dignissimos accusamus quasi repellendus consequuntur illo.</p>
    </div>

    <footer>

    </footer>
    
</body>
</html>