<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Plantas</title>
    <link rel="stylesheet" href="../static/css/sytle.css">
    <link rel="shortcut icon" href="../static/images/icone-folhas.svg" type="image/x-icon">
</head>

<body>
    <header class="nav">
        <div class="dropdown">
            <button id="meuBotao" class="botao-dropdown"><img src="../static/images/icone-menu.svg" alt=""></button>

            <div id="meuDropdown" class="conteudo-dropdown">
                <ul>
                    <li><img class="icone-nav" src="../static/images/icone-planta.svg" alt=""><a class="local-atual"
                            href="{{ url_for('lista_plantas')}}">Lista de plantas</a></li>
                    <li><img class="icone-nav" src="../static/images/icone-add-plant.svg" alt=""><a href="{{ url_for('add_plantas')}}">Adicionar
                            plantas</a></li>
                    <li><img class="icone-nav" src="../static/images/icone-user.svg" alt=""><a href="">Meu perfil</a>
                    </li>
                    <li><img class="icone-nav" src="../static/images/icone-logout.svg" alt=""><a href="">Sair</a></li>
                </ul>
            </div>
        </div>
        <div class="logo">
            <img class="icone-logo" src="../static/images/icone-folhas.svg" alt="">
            <h1>Little Jungle</h1>
        </div>
    </header>

    <main>
        <div class="cards-container">
            {% for planta in plantas %}
            <!-- card1 -->
            <div class="card">
                <div class="nav-card">
                    <div class="div-icone titulo-card">
                        {% if planta.ambiente == 'Sol Pleno' %}
                        <img class="icone-card" src="../static/images/icone-sol-pleno.svg" alt="Ícone Sol Pleno">

                        {% elif planta.ambiente == 'Meia-sombra' %}
                        <img class="icone-card" src="../static/images/icone-meia-sombra.svg" alt="Ícone Meia Sombra">

                        {% elif planta.ambiente == 'Sombra' %}
                        <img class="icone-card" src="../static/images/icone-sombra.svg" alt="Ícone Sombra">

                        {% endif %}
                        <h3>{{ planta.ambiente }}</h3>
                    </div>
                    <img class="img-card" src="{{ planta.imagem }}" alt="Foto da planta {{ planta.nome }}">
                </div>

                <div class="body-card">
                    <div class="div-icone">
                        <img class="icone-card" src="../static/images/icone-planta.svg" alt="">
                        <p>Nome popular: {{ planta.nome }}</p>
                    </div>
                    <div class="div-icone">
                        <img class="icone-card" src="../static/images/icone-planta.svg" alt="">
                        <p>Especie: {{ planta.especie }}</p>
                    </div>
                    <div class="div-icone">
                        <img class="icone-card" src="../static/images/icone-bandeira.svg" alt="">
                        <p>Origem: {{ planta.origem }}</p>
                    </div>
                    <div class="div-icone">
                        <img class="icone-card" src="../static/images/icone-rega.svg" alt="">
                        <p>Regar: {{ planta.regar }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </main>

    <footer>
        <p>Copyright © 2025 Vitória Fortes</p>
    </footer>
    <script src="../static/js/btn.js"></script>
</body>

</html>